{% for item in channels %}
    <section class="panel ">
        <div class="panel-body ">
            <div class="row">
                <div class="col-lg-4 center-pos">
                    <img src="{{item.picture.url}}">
                </div>
                <div class="col-lg-6">
                        <div class="panel-title">
                            <h2>
                                <div class="title title_padding">
                                    <a href="/channel/{{item.ChannelId }}/">{{item.channel_name}}</a>
                                </div>
                            </h2>
                        </div>
                    <h4>Вид канала:{{item.type}}</h4>
                    <h4>Количество видео:{{item.videos }}</h4>
                    <h4>Рейтинг:{{item.rating }}</h4>
                </div>
            </div>
        </div>
    </section>
{% empty %}
   ПУСТОЙ СПИСОК
{% endfor %}