{% extends "base.html" %}
{% block title %}Add new{% endblock %}
{% block userlog %}<p class="text-primary">User: <span class="glyphicon glyphicon-user "></span>{{ user.username }}</p>​{% endblock %}
{% block content %}
        <div class="jumbotron">
            <div class="container">
                <div class="col-md-8">
                    <h3>Подписаться на канал</h3>
                    {% for err in errors.values %}
                        <div class="alert alert-danger" >{{ err }}</div>
                    {% endfor %}
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        <button type="submit" class="btn btn-default btn-lg btn-block" >Подписаться</button>
                        <a role="button" class="btn btn-default btn-lg btn-block" href="/channels">Назад к списку</a>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}